@media screen and (max-width: 768px) {
  .media {
    display: block;
  }

  .media-content {
    margin-top: 1rem !important;
  }

  .media > .media-left > .image.is-128x128 {
    height: 64px;
    width: 64px;
  }

}

html {
   scroll-behavior: smooth;
}

.button.is-white.button-ts-back {
  background-color:transparent;
}

.button.is-small.is-white:hover {
  background-color:#f9f9f9;
}

.button.is-small.is-white:active {
  //background-color:#f2f2f2;
  background-color:transparent;
}





